<footer class="container">
  <div class="row footer">
    <div class="col-md-12 text-center">
        <p class="pfooter"><a href="#">Denuncia</a></p>
        <p class="pfooter"><a href="#">Nuestras Opiniones</a></p>
        <p class="pfooter"><a href="#">Los autores</a></p >
        <p class="pfooter"><a href="#">Debate</a></p >
        <p class="pfooter"><a href="#">Controversia</a></p >
      <hr>
      <h5>Tienes dudas o sugerencias, nos gustaria saber tu opinión, escribenos a contacto@gmail.com<br>
      BlogNjs fue desarrallado con NODESJ con fines demostrativos, versión Alpha 1.1  </h5>
      <h6>MyBlog 2018, todos lo derechos reservados</h6>
    </div>
</footer>
